<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}

    <section class="block1">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <img src="{{ .Permalink }}/illustration__thumbnail-wide.jpg" class="article-illustration"/>
            <div class="article-info">
               {{ partial "article-info" . }}
            </div>
            <section id="content">
                <article class="full-article">
                    <header class="page-header">
                        <h1>
                            <a href="{{ .Permalink }}"
                               rel="bookmark"
                               title="Permalink to {{ .Title }}">
                                {{ .Title | markdownify }}
                            </a>
                        </h1>
                    </header>
                    <div class="entry-content">
                        {{ .Content }}
                    </div>
                    <!--
                    {% include 'includes/related-posts.html' %}
                    {% include 'includes/addthis.html' %}
                    {% include 'includes/comments.html' %}
                  -->
                </article>
            </section>
          </div>
          <!--
          <div class="col-md-4">
            {% include 'includes/sidebar.html' %}
          </div>
          -->
        </div>
      </div>
    </section>
    {{ partial "footer" . }}
  </body>
</html>
