<div class="post-info">
    Le
    <span class="published">
        <time datetime="{{ .Lastmod }}"> {{ .Date.Format "02 Janvier" }}</time>
    </span>
    par {{ delimit (apply (apply (sort ($.Param "authors")) "partial" "author/link" ".") "chomp" ".") ", " }}
    <span class="pull-right">
        <a href="{{ .Site.BaseURL }}/{{ $.Param "category" }}"><i class="fa fa-folder-open"></i> {{ .Section }}</a>
    </span>
    <div>
      {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><i class="fa fa-tags"></i> {{ . }}</a>
      {{ end }}
    </div>
</div>
