<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ .Site.BaseURL }}/" class="navbar-brand">
                <span class="fa fa-rss"></span>
                Blog
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://deliverous.com/hosting"><span class="fa fa-cloud"></span> Hébergement</a></li>
            <li><a href="http://deliverous.com/service"><span class="fa fa-graduation-cap"></span> Service</a></li>
            <li><a href="http://deliverous.com/team"><span class="fa fa-group"></span> Équipe</a></li>
            <li><a href="https://github.com/Deliverous"><i class="fa fa-github"></i> GitHub</a></li>
            <li><a href="https://twitter.com/DeliverousCom"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="mailto://contact@deliverous.com"><i class="fa fa-envelope"></i> Contact</a></li>
            <li><a href="/index.xml"><i class="fa fa-rss"></i> RSS</a></li>
            <li><a href="/tags/"><i class="fa fa-tag"></i> Tags</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->

